.carousel {
    position: relative;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   @media only screen and (max-width: 768px){
    .carousel{
        flex-direction: column;
    }
  }
  .carousel-item {
    display: none;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 21.519418716430664px 32.27912521362305px 0px #00000038;
    border-radius: 0 0 7px 7px;
    min-height: 500px;
  }
  
  @media only screen and (max-width: 768px){
      .carousel-item {
          min-height: 350px;
      }
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0px 0px;
  }

  .carousel-caption {
    background-color: #FFFFFF;
    padding: 10px;
    color: #fff;
    border-radius: 0 0 7px 7px;
    padding: 25px;
  }
  
  .carousel-caption h3 {
      color: #094E86;
      margin-bottom: 10px;
	  font-size: 20px;
  }
  
  .carousel-caption p {
      color: #292D32BD;
      margin: 0px;
	  font-size: 12px;
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .carousel-control.prev {
    left: -20px;
  }

  .carousel-control.next {
    right: -20px;
  }

  .no-principal {
    transform: scale(0.7);
  }
  .aditional {
    background-color: #094E86;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 7px;
    margin: 0px 20px;
    position: relative;
    bottom: -50px;
  }
  .aditional p {
  	margin: 0px;
  }